{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "nginx.fullname" . }}
  labels:
{{- include "nginx.labels" . | nindent 4 }}
  annotations:
{{ toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  rules:
{{- range .Values.ingress.hosts }}
    - host: {{ .host }}
      http:
        paths:
{{- range .paths }}
          - path: {{ . }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "nginx.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
{{- end }}
{{- end }}
  tls:
{{- if .Values.ingress.tls }}
{{- toYaml .Values.ingress.tls | nindent 4 }}
{{- else }}
  []
{{- end }}
{{- end }}
